<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <style>
      
    </style>
  </head>
  <body class="container-fluid" >
   
    <div class="bg-light divchat">
      <h2 class="text-primary bg-light ms-2 fs-2">MESSAGE CENTER</h2>
      <h2 class="text-primary bg-dark ms-2 fs-2 titleCompress">

      </h2>
      <div class="text-center bg-light">
        <form action="/" method="POST" id="form">
          <input
            style="outline: none; border: none"
            class="form-control shadow-none fs-4 text-dark bg-light mb-3 w-100"
            type="email"
            maxlength="150"
            required
            name="email"
            placeholder="Enter your email"
            id="email"
          />

          <input
            style="outline: none; border: none"
            class="form-control shadow-none fs-4 text-dark bg-light mb-3 w-100"
            type="text"
            maxlength="150"
            required
            name="name"
            placeholder="Enter your name"
            id="name"
          />

          <input
            style="outline: none; border: none"
            class="form-control shadow-none fs-4 text-dark bg-light mb-3 w-100"
            type="text"
            maxlength="150"
            required
            name="lastname"
            placeholder="Enter your lastname"
            id="lastname"
          />

          <input
            style="outline: none; border: none"
            class="form-control shadow-none fs-4 text-dark bg-light mb-3 w-100"
            type="number"
            maxlength="150"
            required
            name="age"
            placeholder="Enter your age"
            id="age"
          />

          <input
            style="outline: none; border: none"
            class="form-control shadow-none fs-4 text-dark bg-light mb-3 w-100"
            type="text"
            maxlength="150"
            required
            name="alias"
            placeholder="Enter your alias"
            id="alias"
          />

          <input
            style="outline: none; border: none"
            class="form-control shadow-none fs-4 text-dark bg-light mb-3 w-100"
            type="url"
            maxlength="150"
            required
            name="avatar"
            placeholder="Enter your avatar"
            id="avatar"
          />

          <input
            style="outline: none; border: none"
            class="form-control shadow-none fs-4 text-dark bg-light mb-3 w-100"
            type="text"
            maxlength="314"
            name="msg"
            placeholder="Type you message here..."
            id="msg"
            required
          />
          <button
            style="font-weight: bold"
            type="submit"
            class="btn w-25 fs-3 btn-success"
            name="chatBtn"
            id="chatBtn"
          >
            SEND
          </button>
        </form>
        <br />
      </div>
      <div>
        <ul
          class="text-dark"
          id="chat"
          style="font-weight: bold; margin-top: 3%"
        ></ul>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
