<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=10" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>MVC HBS products</title>
    <style>
      input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
      -webkit-appearance: none; margin: 0; } input[type=number] {
      -moz-appearance: textfield; } .container { margin-top: 277px; }
    </style>

  </head>
  <body class="container-fluid">
    <h1
      style="font-family: arial; text-align: center; font-weight: bold; line-height: 60px; height: 60px; border-radius: 9px;"
      class="mb-4 mt-4 bg-dark text-white"
    >WELCOME, FEEL FREE TO ENTER YOUR PRODUCT!</h1>
    <form action="/productos" method="POST">
      <div class="mb-3">
        <input
          type="text"
          placeholder="What is your product?"
          class="form-control"
          id="title"
          name="title"
          required
        />

      </div>
      <div class="mb-3">

        <input
          type="number"
          placeholder="Price"
          class="form-control"
          id="price"
          name="price"
          required
        />

      </div>
      <div class="mb-3">

        <input
          type="url"
          placeholder="Image URL"
          name="thumbnail"
          class="form-control"
          id="thumbnail"
          required
        />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Featured</label>
      </div>
      <button
        style="height: 65px; font-weight: 700"
        type="submit"
        class="btn btn-dark w-100 fs-3"
      >SEND TO LIST</button>
      <button
        onclick="window.location.href='/productos'"
        class="bg-dark"
        style="outline: none; height: 70px; position: fixed; bottom: 0; right: 0; font-weight: bold; font-size: 26px; border: none; color: rgb(255, 255, 255);"
      >
        Go forward to the list →
      </button>
    </form>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script>
      document.querySelector("form").addEventListener("input", function (e) {
      const tgt = e.target; if (tgt.type && tgt.type === "number") { const val =
      tgt.value; const nums = val.replace(/[^\d.-]/g, ""); if (!/\d+/.test(val))
      tgt.value = ""; } });
    </script>
  </body>
</html>