<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=10" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <title>MVC EJS products</title>
    <style>
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="number"] {
        -moz-appearance: textfield;
      }
      .container {
        /* margin-top: 277px; */
      }

      .avatar {
        width: 70px;
      }

      @media screen and (max-width: 940px) {
        .container {
          margin-top: 0;
        }
        h1 {
          font-size: 1rem;
        }
      }
    </style>
  </head>
  <body class="container-fluid">
    <div class="w-100 bg-warning text-dark text-center">
      <h4
        style="
          font-family: arial;
          font-weight: 700;
          line-height: 60px;
          height: 60px;
          text-align: center;
        "
        class="bg-dark text-white"
      >
        Welcome <%= user %>
      </h4>
      <input
        type="submit"
        value="Disconnect"
        onclick="location.href='/logout'"
      />
    </div>

    <form id="formx" action="/" method="POST">
      <div class="mb-3">
        <input
          type="text"
          placeholder="What is your product?"
          class="form-control shadow-none"
          id="title"
          name="title"
          required
        />
      </div>
      <div class="mb-3">
        <input
          type="number"
          placeholder="Price"
          class="form-control shadow-none"
          id="price"
          name="price"
          required
        />
      </div>
      <div class="mb-3">
        <input
          type="url"
          placeholder="Image URL"
          name="img"
          class="form-control shadow-none text-dark"
          id="img"
          required
        />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Featured</label>
      </div>
      <button
        style="height: 65px; font-weight: 700"
        class="btn btn-success border w-100 fs-3"
        type="submit"
      >
        SEND TO LIST
      </button>
    </form>

    <table class="table">
      <thead class="table-dark"></thead>
      <tbody></tbody>
    </table>

    <%- include ('chat') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./socket.js"></script>
    <script src="./restart.js"></script>
  </body>
</html>
