<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css
"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      if(window.history.replaceState){ 
      window.history.replaceState(null, null, window.location.href); }
    </script>
    <title>MVC EJS products</title>
  </head>
  <body class="container form-control-plaintext">
    <div class="container">
      <div class="row">
        <div class="col-12">
     
        </div>
      </div>
       <% if(type.length > 0) { %>
      <h1 style="margin-top: 10px; margin-bottom: 21px; text-align:center">LIST OF PRODUCTS ADDED</h1>

      
       <table class="table">
      <thead class="table-dark">
        <tr>
          <th class="text-center" scope="col">#</th>
          <th class="text-center" scope="col">Product</th>
          <th class="text-center" scope="col">Price</th>
          <th class="text-center" scope="col">Preview</th>
        </tr>
      </thead>
      <tbody>
    <% producto.forEach( (item) => { %>
      <tr class="text-center">
        <th scope="row"><%= item.id %></th>
        <td> 
          <h5>
          <%= item.title %>
        </h5>
        </td>
        <td> <h5>$<%= item.price %></h5> </td>
        <td>
          <img
            src=<%= item.img %>
            alt="789"
            style="width:50%; height: 200px; margin-left: 21px;"
          />
          </td>
      </tr>  
   <% }) %>
     <% } else { %>
        <tr>
        <td colspan="4">
          <h1 style="color: red; font-weight: 700; text-align:center;">No matching products found</h1>
        </td>
      </tr>
   <% } %>
      </tbody>
    </table>
    <button onclick="window.location.href='/'" class="bg-dark"  style="outline: none; height: 70px; position: fixed; bottom: 0; left: 0; font-weight: bold; font-size: 26px; border: none; color: rgb(255, 255, 255);">
     ← Go back to home
    </button>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>

